<section class="section container">
  <div class="home-facts">
    <h2 class="home-facts__title">
      I’ve worked with more than 200 companies & startups around the world
    </h2>
    <ul class="home-facts__list">
      <li class="home-facts__list-item">
        <h3>50%</h3>
        <p>One repays a teacher badly if one remains only a pupil.</p>
      </li>
      <li class="home-facts__list-item">
        <h3>90%</h3>
        <p>One repays a teacher badly if one remains only a pupil.</p>
      </li>
    </ul>
  </div>
</section>
