<section class="section container">
  <div class="home-hero">
    <div class="home-hero__info">
      <h1>
        Digital <span class="hero__gray">Product</span> Designer<span
          class="hero__green"
          >.</span
        >
      </h1>
      <p>
        I am Portier, experienced Digital Product Designer based on Florida.
        <br />
        I am here to help you build your amazing product.
      </p>
      <button class="home-hero__info-btn">Hire Me</button>
    </div>
    <div class="home-hero__cards">
      <!-- <div class="card">
        <svg class="card__svg">
          <use href="@img/sprite.svg#icon-logo"></use>
        </svg>
        <div class="card__info">
          <h2 class="card__info-title"></h2>
          <p class="card__info-text"></p>
        </div>
      </div> -->
      <div class="card home-hero__cards-card-1">
        <svg class="card__svg">
          <use href="@img/sprite.svg#icon-cage"></use>
        </svg>
        <div class="card__info">
          <h2 class="card__info-title">UI-X Design</h2>
          <p class="card__info-text">
            The time that leads to mastery is dependent on the intensity of our
            focus.
          </p>
        </div>
      </div>
      <div class="card home-hero__cards-card-2">
        <svg class="card__svg">
          <use href="@img/sprite.svg#icon-area"></use>
        </svg>
        <div class="card__info">
          <h2 class="card__info-title">Product Design</h2>
          <p class="card__info-text">
            The time that leads to mastery is dependent on the intensity of our
            focus.
          </p>
        </div>
      </div>
      <div class="card home-hero__cards-card-3">
        <svg class="card__svg">
          <use href="@img/sprite.svg#icon-letter"></use>
        </svg>
        <div class="card__info">
          <h2 class="card__info-title">Writing</h2>
          <p class="card__info-text">
            The time that leads to mastery is dependent on the intensity of our
            focus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
