<section class="section container">
  <div class="info-one">
    <div class="info-one__text">
      <h2>I build products for companies & startups.</h2>
      <p>Everything in nature has a structure, a way that the parts relate to one another, which is generally fluid and not so easy to conceptualize.</p>
      <p>Everything in nature has a structure, a way that the parts relate to one another, which is generally fluid and not so easy to conceptualize.</p>
    </div>
		<picture class="info-one__card-image">
      <source srcset="@img/home/info-1-desk.webp" media="(min-width: 1440px)">
      <source srcset="@img/home/info-1-tablet.webp" media="(min-width: 768px)">
      <img src="@img/home/info-1-mob.webp" alt="Image fot section">
    </picture>
  </div>
</section>
