<section class="section container">
  <div class="info-two">
    <picture class="info-two__image">
      <source srcset="@img/home/info-2-desk.webp" media="(min-width: 1440px)" />
      <source
        srcset="@img/home/info-2-tablet.webp"
        media="(min-width: 768px)"
      />
      <img src="@img/home/info-2-mob.webp" alt="Image fot section" />
    </picture>
		<div class="info-two__info">
			<h2>My main goal is too keep my customers satisfied.</h2>
			<p>Even with skills that are primarily mental, such as computer programming or speaking a foreign language.</p>
			<p>it remains the case that we learn best through practice and repetition—the natural learning process.</p>
		</div>
  </div>
</section>
