<section class="container">
  <div class="portfolio-hero">
    <h1 class="portfolio-hero__title">
      I love <span class="hero__gray">what I do</span> and I make sure I do great<span class="hero__green">.</span>
    </h1>
    <hr class="portfolio-hero__line"/>
    <div class="portfolio-hero__info">
      <button>View My Work</button>
      <p>
        I am Portier, experienced Digital Product Designer based on Florida. I
        am here to help you build your amazing product.
      </p>
    </div>
  </div>
</section>
