<section class="section container">
  <div class="companies">
    <div class="companies__info">
      <div>
        <h2>Companies I have worked with.</h2>
        <p>
          This means that you move toward challenges that will toughen and
          improve you, where you will get the most objective feedback on your
          performance and progress. You do not choose apprenticeships that seem
          easy and comfortable.
        </p>
      </div>
      <p>One can have no smaller or greater mastery than mastery of oneself.</p>
    </div>
    <div class="companies__cards"></div>
  </div>
</section>
