<section class="section container">
  <ul class="about-facts">
    <li class="about-facts__item">
      <h3>50+</h3>
      <p>
        The game you want to play is different: to instead find a niche in the
        ecology that you can dominate.
      </p>
    </li>
    <li class="about-facts__item">
      <h3>90%</h3>
      <p>
        The game you want to play is different: to instead find a niche in the
        ecology that you can dominate.
      </p>
    </li>
    <li class="about-facts__item">
      <h3>12k</h3>
      <p>
        The game you want to play is different: to instead find a niche in the
        ecology that you can dominate.
      </p>
    </li>
  </ul>
</section>
