<section class="section container">
  <div class="about-hero">
    <picture class="about-hero__image">
      <source srcset="@img/about/hero-desk.webp" media="(min-width: 1440px)" />
      <source
        srcset="@img/about/hero-tablet.webp"
        media="(min-width: 768px)"
      />
      <img src="@img/about/hero-mob.webp" alt="Image person" />
    </picture>
		<div class="about-hero__info">
			<div class="about-hero__info-text">
				<h1>I am Portier UI-UX Designer <span class="hero__gray">based</span> in Florida<span class="hero__green">.</span></h1>
				<p>Become who you are by learning who you are.</p>
			</div>
			<ul class="about-hero__info-social">
				<li class="about-hero__info-social-item">
					<a aria-label="Twitter">Twitter</a>
				</li>
				<li class="about-hero__info-social-item">
					<a aria-label="Facebook">Facebook</a>
				</li>
				<li class="about-hero__info-social-item">
					<a aria-label="Email">Email</a>
				</li>
				<li class="about-hero__info-social-item">
					<a aria-label="Instagram">Instagram</a>
				</li>
			</ul>
		</div>
  </div>
</section>
