@use "../../base/globals.scss" as s;

.hero__gray {
  color: s.$color__gray;
}
.hero__green {
  color: s.$color__green;
}

.home-hero {
  @include s.d-flex($direction: column, $justify: center);
  gap: 60px;

  &__info {
    margin-top: 40px;
    @include s.d-flex($direction: column, $justify: center);
    gap: 16px;

    h1 {
      font-family: s.$font__sora;
      font-weight: 700;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: -0.01em;
      color: s.$color__white;
    }

    p {
      font-family: s.$font__sora;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: s.$color__gray;
    }

    &-btn {
      margin-top: 16px;
      @include s.btn-def;
    }
  }

  &__cards {
    display: grid;
    gap: 35px;

    grid-template-columns: 1fr;
  }

  // ------------------- 768 -----------------
  @media (min-width: s.$media_768) {
    & {
      gap: 80px;

      &__info {
        margin-top: 0px;
        h1 {
          font-size: 64px;
          line-height: 1;
          letter-spacing: -0.02em;
        }

        p {
          font-size: 24px;
          line-height: 1.33333;
          letter-spacing: -0.01em;
        }

        &-btn {
          width: 108px;
        }
      }

      &__cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 35px;
        column-gap: 41px;
      }
    }
  }
  // ----------------- 1440 --------------
  @media (min-width: s.$media_1440) {
    & {
      & {
        gap: 76px;

        &__info {
          margin-top: 0px;
          h1 {
            font-size: 72px;
            line-height: 1.19444;
          }
        }

        &__cards {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          gap: 35px;
        }
      }
    }
  }
}

.card {
  width: 100%;
  box-sizing: border-box;

  @include s.d-flex($direction: column, $justify: center);
  gap: 24px;
  padding: 20px 16px 19px 20px;

  background: s.$color__main;
  border-radius: 8px;

  font-family: s.$font__sora;
  color: s.$color__white;

  transition: background 0.5s ease;

  &__svg {
    width: 44px;
    height: 44px;

    use {
      @include s.icons;
    }
    transition: all 0.5s ease;
  }

  &__info {
    @include s.d-flex($direction: column, $justify: center);
    gap: 16px;

    &-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.33333;
    }
    &-text {
      font-weight: 300;
      font-size: 14.5px;
      line-height: 1.7;
      letter-spacing: -0.02em;
    }
  }

  &:hover {
    background: s.$color__hover;
    use {
      @include s.icons-hover;
    }
  }

  @media (min-width: s.$media_768) {
    & {
      padding: 20px;
      &.home-hero__cards-card-1 {
        grid-column: 1 / 2;
        grid-row: 1;
      }
      &.home-hero__cards-card-2 {
        grid-column: 1 / 3;
        grid-row: 2;
        max-width: 386px;
      }
      &.home-hero__cards-card-3 {
        grid-column: 2 / 3;
        grid-row: 1;
      }
    }
  }
  @media (min-width: s.$media_1440) {
    & {
      padding: 20px;
      &.home-hero__cards-card-1 {
        min-width: 402px;
        grid-column: auto;
        grid-row: auto;
        max-width: none;
        justify-self: auto;
      }
      &.home-hero__cards-card-2 {
        grid-column: auto;
        grid-row: auto;
        max-width: none;
        justify-self: auto;
        min-width: 386px;
        max-width: none;
      }
      &.home-hero__cards-card-3 {
        min-width: 402px;
        grid-column: auto;
        grid-row: auto;
        max-width: none;
        justify-self: auto;
      }
    }
  }
}
