<section class="container section">
  <div class="blog-hero">
    <div class="blog-hero__info">
      <h1>Find tips about the best design practices</h1>
      <p>
        Everything in nature has a structure, a way that the parts relate to one
        another, which is generally fluid and not so easy to conceptualize.
      </p>
    </div>
    <form class="blog-hero__form">
      <input type="email" placeholder="Your email address" />
      <button type="button">Subscribe</button>
    </form>
  </div>
</section>
