@use "./fonts.scss";
@use "./components/header.scss" as *;

body {
  background-color: black;
  color: antiquewhite;
  display: block;
  font-family: 'DMSans';
  font-weight: 700;
  svg {
    fill: aqua;
    use {
      fill:aqua;
    }
  }
}
span {
  font-family: Sora;
  font-weight: 700;

}
