@use "../../base/globals.scss" as s;

.sec-text {
  @include s.d-flex($direction: column);
  gap: 48px;

  &__info {
    margin-top: 45px;
    @include s.d-flex($direction: column);
    gap: 24px;

    &-name {
      @include s.d-flex($direction: row, $align: center);
      gap: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71429;
      color: s.$color__gray;

      svg {
        width: 44px;
        height: 44px;
      }
    }
    &-title {
      @include s.d-flex($direction: column);
      gap: 16px;

      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -0.01em;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        color: s.$color__gray;
      }
    }
  }
  &__text {
    @include s.d-flex($direction: column);
    gap: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
    color: s.$color__gray;
  }
  &__back {
    margin-top: 12px;
    margin-bottom: 10px;

    text-align: center;
    @include s.btn-def;
    width: 113px;
  }

  // ------------------ 768 --------------------
  @media (min-width: s.$media_768) {
    &__info {
      margin-top: 0px;
      &-title {
        h1 {
          font-size: 64px;
          line-height: 1;
          letter-spacing: -0.02em;
        }
      }
    }
    &__back {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  // ------------------ 1440 --------------------
  @media (min-width: s.$media_1440) {
    width: 830px;
    margin: 0 auto;
    &__info {
      margin-top: 80px;
      &-title {
        h1 {
					margin-right: -20px;
          font-size: 72px;
          line-height: 1.19444;
        }
      }
    }
    &__back {
      margin-bottom: 80px;
    }
  }
}
